body{
  background-color: #f9f9f9;
  padding-top: 100px;
  text-align: center;
}


.navbar{
  z-index: 99;
  border-radius: 0px;
  background-color: #fff; /*Background color for navbar = white*/
  border-bottom: 1px solid #d0d4d9; /*Bottom border for navbar*/
  box-shadow: 0px 1px 1px #d0d4d9; /*Shadow for navbar in bottom*/
  font-size: 1.2em;
}

#mainNav{
  padding: 20px 50px 20px 20px;
  line-height:50px;
}

@media (max-width: 768px) {
  #mainNav{
    padding-right: 0px;
  }
}


#index-header{
  font-family: 'Open Sans', sans-serif;
  padding-top: 40px;
  min-height: 700px;
}

#sub-main-message{
  font-size: 1.3em;
  padding-top: 5px;
}

hr{
  width: 100px;
  margin-bottom: 40px;
}

.colorgraph{
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.row{
  padding-top: 40px;
}

#span-head{
  font-size: 2.4em;
  color: #f05f40;
  font-weight: bold;
}

#span-body{
  font-size: 1.2em;
  padding-bottom: 30px;
}

#sign-up-text{
  font-size: 2.4em;
  color: #f05f40;
  font-weight: bold;
  padding-bottom: 30px;
}

.form-group{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

#sign-up-button{
  width: 300px;
  height: 40px;
}

p{
  padding-top: 25px;
  font-size: 1.3em;
}

#how-it-works{
  min-height: 700px;
  padding-top: 75px;
}

.custom-padding{
  padding-top: 50px;
}
